header {
    background-color: darkslateblue;
    padding: 10px;
    position: sticky;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    z-index: 3;


    nav {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
}

h1 {
    font-family: "Unbounded", sans-serif;
    color: white;
    font-size: 80;
    letter-spacing: 2px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

    li {
        a {
            color: white;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: medium;
            font-style: normal;
            text-decoration: none;

            &:hover {
                color: blueviolet;
                transition: 300ms;
            }
        }
    }
}
