h1 {
    padding: 10px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
}

h2 {
    color: white;
    font-family: "Unbounded", sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 60;
    font-weight: 500;
    letter-spacing: 1px;
    z-index: 2;
}

h3 {
    color: white;
    background-color: rgba(0, 0, 0, 0.500);
    font-family: "Unbounded", sans-serif;
    text-decoration: none;
    font-size: 30;
    font-weight: 500;
    text-align: justify;
    padding: 10px;
}

.flex-redes {
    a {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.redes {
    width: 36px;
    height: 36px;
    padding: 20px;
    filter: invert(1);
}

.banners {
    width: 250px;
    height: 150px;
    filter: grayscale(1);
}

p {
    color: white;
    background-color: rgba(0, 0, 0, 0.500);
    font-family: "Roboto", sans-serif;
    font-size: 18;
    font-weight: normal;
    text-align: left;
    margin-right: 50%;
    padding: 10px;
}

.form {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.500);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: justify;
    padding: 10px;
    font-size: 24;
}

.grid-form {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1fr, 2fr);
    grid-auto-rows: auto;
}

.nosotros {
    padding: 10px;
    text-align: left;
    margin-right: 50%;
    word-spacing: 5px;
    line-height: 30px;
}

.grid-nos {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2fr);
    grid-auto-rows: 500px;
}

.grid-nos div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-galeria {
    width: 95%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 25px;
}

.grid-galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item {
    position: relative;
}

.grid-item h2 {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 5px;
}

.calendar {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: "Unbounded", sans-serif;
    color: white;
}

.calendar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    list-style: none;
}

.calendar-grid li {
    display: flex;
    width: 10rem;
    height: 10rem;
    margin: 0.25rem;
    flex-flow: column;
    border-radius: 0.2rem;
    padding: 1rem;
    font-weight: 400;
    font-size: normal;
    box-sizing: border-box;
    box-shadow: 0 8px 32px 0 darkslateblue;
    backdrop-filter: blur(2px);
    border-radius: 8px;
    border: 1px solid rgba(3, 3, 3, 0.479);
}

.time {
    font-size: 2rem;
    margin: 0 0 1rem 0;
    font-weight: 500;
}

.today {
    color: blueviolet;
    font-weight: 400;
    font-size: normal;
}

.today-zoom {
    transform: scale(1.2)
}

.adidas-shop {
    width: 500px;
    height: 800px;
}