@media (max-width: 1000px) {
    .calendar-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        flex-wrap: wrap;
        margin: 10px;
        list-style: none;

    }
    .calendar-grid li {
        display: flex;
        width: 10rem;
        height: 10rem;
        margin: 0.25rem;
        flex-flow: column;
        border-radius: 0.2rem;
        padding: 1rem;
        font-weight: 400;
        font-size: normal;
        box-sizing: border-box;
        box-shadow: 0 8px 32px 0 darkslateblue;
        backdrop-filter: blur(2px);
        border-radius: 8px;
        border: 1px solid rgba(3, 3, 3, 0.479);
    }
    
}
@media (max-width: 850px) {
    .grid-galeria {
        width: 95%;
        margin:auto;
        margin-top: 50px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(3, 400px);
        gap: 25px;
        place-items: center;
    }
    .grid-galeria div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .grid-item {
        position: relative;
    }
    
    .grid-item h2 {
        position: absolute;
        bottom: 0;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.500);
        border-radius: 5px;
    }
    
}

@media (max-width: 770px) {

    /* Estilos para pantallas con un ancho máximo de 770px */
    .sponsors {
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 400px) {
    header nav ul{
        width: 50%;
        display: inline-block;
    }
}
@media (max-width: 400px) {
    p {
        justify-content: space-between;
        margin: 0%;
        text-align: justify;
    }
}